@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Urbanist', sans-serif;
  height: 100vh;
  font-size: 1rem;
}

.contain-menu {
  width: 100%;
}

.contain-main-home {
  background-color: #bffbf4;
  min-height: calc(100vh - 160px);
  gap: 100px;
  align-items: center;
}

.lista-contain-main {
  background-color: #eef7fb;
  width: 100%;
  min-height: calc(100vh - 160px);
}
.cadastro-main {
  background: -webkit-linear-gradient(
    180deg,
    #eef7fb,
    #bffbf4,
    #86d5cb,
    #16ab88
  );
  background: linear-gradient(180deg, #eef7fb, #bffbf4, #86d5cb, #16ab88);
  /* background-color: #eef7fb; */
  width: 100%;
  min-height: calc(100vh - 160px);
}

.navbar-home {
  background-color: #bffbf4;
}

.navbar-lista,
.navbar-cadastro {
  background-color: #eef7fb;
}

.navbar-notfound {
  background-color: #f9f6ed;
}

.navbar-add-edit {
  background-color: #ffffff;
}

.form-section {
  width: 417px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 9.2px 7px rgba(0, 0, 0, 0.25);
}

.imgCompras-home {
  position: absolute;
  width: 295px;
  left: 185px;
  bottom: 10px;
}
.contain-home {
  background-color: #bffbf4;
  display: flex;
  padding: 16px;
  width: 480px;
  height: 360px;
}

.home-cardtitle {
  background-color: #bffbf4;
}

.text-home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 6px;
  height: 92px;
  background-color: #000000;
  border-radius: 22px;
  font-size: 5rem;
  color: #ffffff;
}

.login-form-inputs {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #000000;
}

.login-btn {
  background-color: #16ab88;
  border-radius: 50px;
  font-size: 1.3rem;
  border: 0px;
  letter-spacing: 2px;
  margin: 10px 0px;
}

.login-btn:hover {
  border: 1px solid #16ab88;
  color: #16ab88;
  background-color: #ffffff;
}

.login-btn-google {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.3rem;
  color: #000000;
}

.login-btn-google:hover {
  background-color: #000000;
  border: none;
}

.login-texto {
  transition: 0.3s;
}

.login-texto:hover {
  font-size: 1.1rem;
  color: #16ab88;
}

.login-div {
  height: 50px;
}

.login-btn-img {
  width: 20px;
  height: 20px;
}

.login-span {
  color: #b5bac0;
}

.footer-icon {
  width: 25px;
  height: 25px;
}

.footer-img-stores {
  width: 140px;
  height: 40px;
}

.footer-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 104px;
  width: 100%;
  background-color: #151515;
}

.footer-contain-card {
  display: flex;
  width: 100%;
  background-color: transparent;
}

.footer-card-body {
  width: 100%;
}

.footer-text {
  color: #ffffff;
  margin: 0px;
}

.footer-span {
  color: #16ab88;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-decoration-line-through {
  text-decoration: line-through;
  opacity: 0.6;
}

.border-bottom {
  border-bottom: 2px solid #dee2e6;
}

.badge {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  display: inline-block;
  font-size: 0.7rem;
}

.lista-icone-editar {
  width: 25px;
  height: 25px;
}

.lista-card {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #000000;
}

.btn-add-item {
  background-color: transparent;
  border: 1px solid #16ab88;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #16ab88;
}
.btn-exit {
  border: none;
  width: 80px;
  border-radius: 50px;
  background-color: #16ab88;
}
.btn-exit:hover {
  border: none;
  background-color: #000000;
}

.text-lista-menu:hover {
  font-weight: bold;
}

.btn-add-item:hover {
  background-color: #16ab88;
  border: 1px solid #16ab88;
  color: #ffffff;
}

input::placeholder {
  font-weight: 500;
  font-size: 0.9rem;
  color: #c6c9ce;
}
